body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background 0.9s, color 0.1s;
}

.light {
  --bg: #f7f1f1;
  --text: #000000;
  --card-bg: #f0f0f0;
}

.dark {
  --bg: #121212;
  --text: #fdfcfc;
  --card-bg: #040404;
}

body {
  background: var(--bg);
  color: var(--text);
}

.card {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: var(--card-bg);
  border-radius: 12px;
}